/* IMPORTS */
/*TORNEOS.HTML STYLES*/
.p-3 p {
  text-align: center; }

.list-group {
  text-align: center; }
  .list-group li {
    text-decoration: solid; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Se escrolea con sutileza */
  scroll-behavior: smooth; }

/* BODY */
body {
  background-image: linear-gradient(to bottom, #5EE6EB, #4D77FF); }
