div.card{
    width: 18rem;
    margin-top: 18px;
    img{
        width: 18rem;
        height: 20rem;
    }

}
div.col-xl-4{
    iframe{
        width: 40rem;
        height: 20rem;
        margin-top: 20px;
    }
}