/* ****************************Principal******************* */
.main__gallery{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: 
    "prox_torneos"
    "news1"
    "news2";
  }
  .main__gallery-prox_torneos{
    grid-area: prox_torneos;
    margin: 30px;
   }
   .main__gallery-news1{
    grid-area: news1;
    margin: 30px;
   }
   .main__gallery-news2{
    grid-area: news2;
    margin: 30px;
   } 



   /******************************** Media queries ****************** */
   @media screen and  (min-width: 768px) {
    .main__gallery{
        display: grid;
        grid-template-columns: repeat(1,50%);
        grid-template-areas: 
        "prox_torneos news1"
        "prox_torneos news2";
      }
}