/*TORNEOS.HTML STYLES*/

//Usa el mismo margen que la imagen del costado
.p-3 {
    @extend .pasadoImg;
    p{
    text-align: center;
    margin-top: 0px;
}
}
.list-group{
    text-align: center;
    li{
        text-decoration: solid;
    }
}
.pasadoImg{
    margin-top: 3rem;
}

