/* IMPORTS */
@import "menu";
@import "torneos";
@import "clubes";
@import "index";

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* Se escrolea con sutileza */
    scroll-behavior: smooth;
}
$paletaColores:(//declaracion de MAP para paleta de colores
    fondo_degrade:linear-gradient(to bottom,#5EE6EB,#4D77FF),
    azul_standart:#4D77FF,
    aqua_standart:#5EE6EB,
    texto_standar: white

);


/* BODY */
body{
    background-image: map-get($paletaColores,fondo_degrade);
}
li a{
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

//Permite definir ancho y margen top de un titulo
@mixin tamañoTitulo ($ancho, $margen) {
    width: $ancho;
    margin-top: $margen;
    
}
.badge{
    @include tamañoTitulo(100%, 50px );
}

.nav__titulo{
    visibility: hidden;
}

/******************************** Media queries ****************** */
@media screen and  (min-width: 768px) {
    .nav__titulo{
        visibility: visible;
        animation: backInRight;
        animation-duration: 4s;
        color: white;
        text-decoration: solid;
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        margin-left: 20px;
        font-size: larger;
       
    }

}